<div class="homepage-header d-flex align-items-center justify-content-center">
  <div class="inner">
    <figure class="svg-penang">
      <img src="/assets/images/penang.svg" alt="img" />
    </figure>
    <figure class="svg-dialog">
      <img src="/assets/images/dialog.svg" alt="img" />
    </figure>
    <div class="description text-center">
      <div class="event-date text-white">3th DEC 2022</div>
      <div class="event-description">
        <p class="mb-0 text-white">
          DevFest Georgetown is back for the 9th year!
          <br />
          DevFest is a large community organised annual event with sessions &
          code labs for developers, students, startups and anyone interested to
          learn the latest trends and technical knowledge of Google platform,
          product APIs & open source technologies.
        </p>
      </div>
    </div>
  </div>
  <div class="cta">
    <span class="cta-text">Explore the world of DevFest</span>
    <img class="cta-icon" src="/assets/icons/blue-down-carat.svg" />
  </div>
</div>

<div class="homepage-speakers mt-5">
  <div class="container">
    <div class="title mt-5 mb-5">
      <span>Speakers</span>
    </div>
    <div class="speakers-list pt-5 row">
      <div
        class="speaker-card col-12 col-md-6 col-lg-3"
        *ngFor="let speaker of speakers"
      >
        <div class="speaker-image">
          <img
            [src]="speaker.imagePath"
            alt="{{ speaker.name }}"
            class="img-responsive"
            style="max-height: 250px"
          />
        </div>
        <div class="speaker-details text-center">
          <div class="name">{{ speaker.name }}</div>
          <div class="info">{{ speaker.description }}</div>
        </div>
      </div>
      <a
        routerLink="/speakers"
        routerLinkActive="active"
        class="btn btn-outline-primary px-3 mx-auto w-30 mb-5"
        >View All Speakers</a
      >
    </div>
  </div>
</div>

<div class="homepage-slide mt-5">
  <div class="devfest-ticker-row">
    <div class="devsite-landing-row-inner">
      <div class="devfest-landing-for-html">
        <div class="devfest-ticker">
          <ul class="devfest-ticker-list">
            <li class="devfest-ticker-item devfest-ticker-blue">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >#devfestgt22</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-yellow">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Connect with local developers"
                >Connect with local developers</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-red">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Discover Android development"
              >
                Check Scedule</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-blue">
              <a
                href="#"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Engage with experts"
                >Engage with experts</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-red">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >GDG George Town</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-yellow">
              <a
                href="#devfest-badges-row"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Earn badges"
                >Earn badges</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-gray">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Follow #DevFest for updates"
                >Follow #DevFest for updates</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-red">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >#devfestgt22</a
              >
            </li>
          </ul>
          <ul class="devfest-ticker-list">
            <li class="devfest-ticker-item devfest-ticker-yellow">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Connect with local developers"
                >Connect with local developers</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-blue">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >#devfestgt22</a
              >
            </li>

            <li class="devfest-ticker-item devfest-ticker-gray">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Discover Android development"
              >
                Check Scedule</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-blue">
              <a
                href="#"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Engage with experts"
                >Engage with experts</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-red">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >GDG George Town</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-yellow">
              <a
                href="#devfest-badges-row"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Earn badges"
                >Earn badges</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-blue">
              <a
                href="https://gdg.community.dev/gdg-george-town/"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Follow #DevFest for updates"
                >Follow #DevFest for updates</a
              >
            </li>
            <li class="devfest-ticker-item devfest-ticker-gray">
              <a
                href="#find-a-devfest-community-near-you"
                class="text-decoration-none text-white"
                data-category="DevFest Ticker"
                data-label="Build Web experiences for everyone"
                >#devfestgt22</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-highlights mt-5 mb-6">
  <div class="container">
    <div class="title">
      <span>#DevFestHighlights</span>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-md-6 homepage-highlights-item">
        <a
          href="https://www.youtube.com/watch?v=k1WCBAAeDCg&t=6s"
          target="_blank"
        >
          <figure>
            <img
              src="/assets/images/video-cover/2021.jpg"
              alt="DevFest x BizFest George Town 2018 Video"
            />
          </figure>
        </a>
      </div>

      <div class="col-12 col-md-6 homepage-highlights-item">
        <a
          href="https://www.youtube.com/watch?v=P2JJQqR6ofU&t=484s"
          target="_blank"
        >
          <figure>
            <img
              src="/assets/images/video-cover/2020.jpg"
              alt="DevFest x BizFest George Town 2020 Video"
            />
          </figure>
        </a>
      </div>
    </div>

    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <a href="{{ slide.url }}" target="_blank">
          <img src="{{ slide.img }}" alt="" width="100%" />
        </a>
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<div class="bg-shape-top"></div>
<div class="homepage-about">
  <div class="illustration illustration-rectangle"></div>
  <div class="illustration illustration-hand">
    <img src="/assets/images/green-pointer.svg" alt="" />
  </div>
  <div class="illustration illustration-square"></div>
  <div class="content bg-light pt-5">
    <div class="container">
      <div class="inner">
        <div class="overview">
          <div class="row">
            <div class="col-12">
              <h1 class="mb-4">Organizer</h1>
              <p>
                Come join in the fun with hundreds of tech enthusiasts and
                business professionals in our annual most epic dev and biz
                conference up north. In this one day conference, we cover five
                tracks filled with over 15 talks and workshops by speakers from
                local and abroad. Due of last year of amazing support from all
                you guy we decide to maintain the awesomeness which mean we are
                continue bringing the 2 biggest flagship events powered by
                Google to you! <br /><br />
                DevFest is a large community organised annual event with
                sessions & code labs for developers, students, startups and
                anyone interested to learn the latest trends and technical
                knowledge of Google platform, product APIs & open source
                technologies.
                <br /><br />
                The organizing team spent delicate effort to bring to you
                speakers from abroad and locally, with more than 20 sessions to
                ensure maximum learning and fun!
                <br /><br />
                Knowledge, skills, fun & swagsss, all in one day. Can you even
                resist it?
                <br /><br />
                SEE YOU!
              </p>
            </div>
            <div class="col-12">
              <h3 class="pt-5">What is GDG & WTM</h3>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <figure class="logo-container pt-4">
                <img src="/assets/images/logo-gdg.png" class="w-75" alt="" />
              </figure>
              <p>
                Google Developers Group (GDG) - is open and volunteer geek
                community who create exciting projects and share experience
                about Google technologies with a passion.
              </p>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <figure class="logo-container pt-4">
                <img src="/assets/images/logo-wtm.png" class="w-75" alt="" />
              </figure>
              <p>
                Women Techmakers (WTM) - is provides visibility, community, and
                resources for women in technology.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-shape-bottom"></div>

<div class="homepage-tickets mb-5">
  <div class="container">
    <div class="header text-center">
      <h1>Tickets</h1>
      <span class="illustration-play">
        <img src="/assets/images/green-pointer.svg" alt="" />
      </span>
      <span class="illustration-circle">
        <img src="/assets/images/circle.svg" alt="" />
      </span>
      <span class="illustration-ticket">
        <img src="/assets/images/ticket-ticket.svg" alt="" />
      </span>
      <span class="illustration-triangle">
        <img src="/assets/images/shape.svg" alt="" />
      </span>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 ticket-item ticket-early-bird">
        <div class="inner">
          <div class="ticket-content">
            <div class="ticket-content-inner">
              <div class="ticket-name">Early Bird</div>
              <div class="ticket-date">
                ~ 31 Oct<br />
                Or first 250 tickets with Extra Swags
              </div>
              <div class="ticket-price">RM 10.50</div>
              <a
                href="#"
                target="_blank"
                class="btn btn-primary btn-with-link text-white d-md-flex justify-content-md-between"
                >Get ticket</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 ticket-item ticket-regular">
        <div class="inner">
          <div class="ticket-content">
            <div class="ticket-content-inner">
              <div class="ticket-name">Normal</div>
              <div class="ticket-date">
                1 Nov - 2 Dec <br />
                Or until sold out
              </div>
              <div class="ticket-price">RM 10.50</div>
              <a
                href="#"
                class="btn btn-primary btn-with-link text-white d-md-flex justify-content-md-between"
                >Get ticket</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-disclaimer text-center">
      <p class="small">*Tickets grant access to all conference sections.</p>
    </div>
  </div>
</div>

<app-partner></app-partner>
