<div class="homepage-header d-flex align-items-center justify-content-center">
    <div class="header-bg--mobile">
        <!--<img class="slide-up hero-image&#45;&#45;blue-cross" src="/assets/icons/mobile/blue-cross.svg">-->
        <img class="slide-up hero-image--blue-bridge" src="/assets/icons/mobile/blue-bridge.svg">
        <img class="slide-down hero-image--blue-diamond" src="/assets/icons/mobile/blue-diamond.svg">
        <img class="slide-up hero-image--green-diagonal-squares" src="/assets/icons/mobile/diagonal-squares.svg">
        <img class="slide-down hero-image--green-pointer" src="/assets/icons/mobile/green-pointer.svg">
        <img class="slide-down hero-image--green-square" src="/assets/icons/mobile/green-square.svg">
        <img class="slide-up hero-image--top-light-blue-circle" src="/assets/icons/mobile/light-blue-circle.svg">
        <img class="slide-down hero-image--bottom-light-blue-circle" src="/assets/icons/mobile/light-blue-circle.svg">
        <img class="slide-down hero-image--red-chatbox" src="/assets/icons/mobile/red-chatbox.svg">
        <img class="slide-down hero-image--red-square" src="/assets/icons/mobile/red-square.svg">
        <img class="slide-down hero-image--red-diamond" src="/assets/icons/mobile/red-diamond.svg">
        <img class="slide-up hero-image--yellow-play-button-mobile"
            src="/assets/icons/mobile/yellow-play-button-mobile.svg">
        <img class="slide-up hero-image--yellow-sphere" src="/assets/icons/mobile/yellow-sphere.svg">
        <img class="slide-down hero-image--yellow-vertical-rectangle"
            src="/assets/icons/mobile/yellow-vertical-rectangle.svg">
    </div>

    <div class="inner">
        <div class="logo-container">
            <!--<img src="/assets/images/logo.svg" alt="">-->
            <div class="logo">
                <img src="/assets/images/header-logo-0.svg" alt="">
                <figure class="header-logo header-logo-1"><img src="/assets/images/header-logo-1.svg" alt=""></figure>
                <figure class="header-logo header-logo-2"><img src="/assets/images/header-logo-2.svg" alt=""></figure>
                <figure class="header-logo header-logo-3"><img src="/assets/images/header-logo-3.svg" alt=""></figure>
                <figure class="header-logo header-logo-4"><img src="/assets/images/header-logo-4.svg" alt=""></figure>
            </div>
            <div class="tagline">
                <figure><img src="/assets/images/tagline.svg" alt=""></figure>
            </div>
        </div>
        <div class="description text-center">
            <div class="event-date">
                NOV 30，2019
            </div>
            <div class="event-description">
                <p class="mb-0">DevFest & BizFest Georgetown is back for the 6th year!
                    <br><br>
                    This year our theme is "Technology & Opportunities: What's next?". This year, we will be focusing on
                    what's next for technologies and the business opportunities we can derive from them. What's more, we
                    would like to help you deliver better impact and create more opportunities for others using
                    technology.
                </p>
            </div>
        </div>
    </div>
    <div class="cta">
        <span class="cta-text">Explore the world of DevFest</span>
        <img class="cta-icon" src="/assets/icons/blue-down-carat.svg">
    </div>
</div>